<html>

	<head>
		<title>My Answers</title>	
	</head>

<body>

	<center>
		<h1>My Answers</h1>
	</center>
{% for item in data %}
	<div style="width:700px; background-color:lightgreen; border:1px solid black;">
		<h2>question :{{item[1]}}</h2>
		<h2>Answer :{{item[2]}}</h2>
		
		
		<form action="/my-answers" method="GET" style="display:inline;">
			<input style="display:none;" value="work" name="ch"/>
			<input style="display:none;" value="{{item[4]}}" name="byans"/>
			<input style="display:none;" value="{{item[0]}}" name="username"/>
			<input style="display:none;" value="{{item[1]}}" name="question"/>
		<button style="height:50px;width:80px; background-color:blue;margin-left:200px;">Work</button>
		</form>
		 <form action="/my-answers" method="GET" style="display:inline;">
                        <input style="display:none;" value="notwork" name="ch"/>
                        <input style="display:none;" value="{{item[0]}}" name="username"/>
                        <input style="display:none;" value="{{item[1]}}" name="question"/>
		<button style="height:50px;width:80px; background-color:red;margin-left:200px;">not Work</button>
		<form/>
		<br><br>
	</div>	

{%endfor%}

</body>
</html>
